<section class="row mt-5">
  <div class="col">
    <button
      class="btn btn-primary float-right mb-3"
      data-toggle="modal"
      data-target="#modalOferta"
    >
      Nueva Oferta
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Presentación</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oferta of ofertas; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ oferta.Producto }}</td>
          <td>{{ oferta.Presentacion }}</td>
          <td>{{ oferta.Descripcion }}</td>
          <td>{{ oferta.Precio }}</td>
          <td *ngIf="oferta.Correo == userCorreo; else noOwner">
            <button
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#modalOferta"
              (click)="onPreUpdateOferta(oferta)"
            >
              Actualizar
            </button>
          </td>
          <td *ngIf="oferta.Correo == userCorreo; else noOwner2">
            <button class="btn btn-danger" (click)="onDeleteOferta(oferta.Id)">
              Eliminar
            </button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">
                Actualizar
              </button>
            </td>
          </ng-template>
          <ng-template #noOwner2>
            <td>
              <button class="btn btn-danger" disabled="true">
                Eliminar
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modalofertas [userUid]="userUid"></app-modalofertas>
