<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="jumbotron text-center">
    <h1>Localitos</h1>
    <p>Por que nos importa tu bolsillo</p>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Sobre la compañia</h2>
        <br />
        <h4>
          Localito surgio por el interes en ayudar a los comerciantes desde
          pequeños hasta grandes, a atraer clientes a traves de sus promociones,
          pero de igual manera es una herramienta que los clientes pueden usar
          para ayudar a obtener pequeños ahorros en sus compras diarias que en
          conjunto beneficien el bolsillo de sus familias.
        </h4>
        <br />
        <p>
          Fue por esto que se desarrolló esta plataforma la cual su función es
          cumplir con el objetivo inicial, y son tiempos en los que la situación
          amerita que se tenga una correcta administración del efectivo que se
          posee, por lo que está plataforma no solo quiere hacer un llamado al
          gasto si no al gasto conciente englobando cualquier oferta en una sola
          aplicación.
        </p>
        <br /><button class="btn btn-default btn-lg">
          Mantente en contacto
        </button>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>Nuestros Valores</h2>
        <br />
        <h4>
          <strong>MISION:</strong> Nuestra misión es cumplir la labor de traer a
          las personas las herramientas que le permita ahorrar en sus compras
          regulares.
        </h4>
        <br />
        <p>
          <strong>VISION:</strong> La visión de Localitos es lograr ser la
          plataforma numero uno en ofrecer a los clientes las ofertas de los
          negocios desde los de renombre hasta aquellos que nos podemos
          encontrar en el caminar de nuestra vida diaria.
        </p>
      </div>
    </div>
  </div>
  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACTO</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>
          Contactanos y en el transcurso de 24 hrs nos pondremos en contacto
          contigo.
        </p>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>Tepic, Nayarit, Mx
        </p>
        <p><span class="glyphicon glyphicon-phone"></span> +311 111 00 00</p>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>
          Infraestructura WEB
        </p>
      </div>
    </div>
  </div>
</body>
