<section id="ofertas" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let oferta of ofertas">
        <div class="card_book">
          <div class="card">
            <img
              class="card-img-top"
              src="{{ oferta.url }}"
              alt="{{ oferta.Producto }}"
            />
            <div class="card-body text-center">
              <h4 class="card-title">
                {{ oferta.Producto }}
              </h4>
              <p class="card-text">
                {{ oferta.Presentacion }}
                <br />
                <strong>
                  {{ oferta.Descripcion }}
                </strong>
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  {{ oferta.Precio }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
